div#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 5em;
  padding: 1em 0.8em;
}

div#projects span {
  color: var(--accent);
  margin-bottom: 1.2em;
}


div#projects .projects-content {
    display: flex;
    margin: auto;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.projects-content h2 {
    margin-bottom: 0;
}

.projects-content .buttons {
    display: flex;
    place-self: center;
    gap: 0.3em;
}

.buttons button {
    width: 100px;
    padding: 0.3em;
    border: none;
    border-radius: 0.4em;
}

.projects-content .project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.project-cards .project-card {
    padding: 1em;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 1em;
}

.project-card:hover {
    object-fit: cover;
    transition: object-fit 0.3s;
}

.project-card .description {
    text-align: left;
}

.project-cards .project-img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}

.project-cards .tech-stacks {
    display: flex;
    gap: 1em;
}

.tech-stacks .tech-stack {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.1em 0.2em;
    border-radius: 0.4em;
}